@media screen and (min-width: 850px) and (max-width: 1100px) {
  nav .right ul li {
    margin-right: 2rem;
    padding: 0px 8px 0px 8px;
    font-size: 1.2rem;
  }

  .firstSection {
    padding: 120px 70px;
  }

  .secondSection {
    max-width: 85vw;
  }
}

@media screen and (min-width: 654px) and (max-width: 850px) {
  nav .right ul li {
    margin-right: 1.2rem;
    font-size: 1.1rem;
  }

  nav .left {
    width: 20%;
    font-size: 1.25rem;
  }

  .firstSection {
    padding: 80px 50px;
  }

  main hr {
    margin: 40px;
  }

  .sub-section {
    font-size: 1.2rem;
  }

  .sub-section h1,
  .interest h1,
  .language h1 {
    font-size: 2.2rem;
    margin-bottom: 1.1rem;
  }

  .soft-skills,
  .language div,
  .interest li,
  .education,
  #contact div,
  .skill-box {
    font-size: 1.3rem;
  }

  .list-box,
  #contact div,
  .sub-section .intro,
  h3,
  .language div,
  .interest li {
    margin-left: 2.3rem;
  }

  .personal-interest,
  .sub-section {
    margin-bottom: 2.8rem;
  }
}

@media screen and (max-width: 850px) {
  nav {
    padding: 6px 8px 6px 14px;
  }

  .firstSection .rightSection {
    width: 35%;
  }

  nav .left {
    width: 20%;
    font-size: 1.25rem;
  }

  nav .right ul li {
    padding: 0px 6px 0px 6px;
  }

  .firstSection {
    flex-direction: column-reverse;
    padding-bottom: 30px;
  }

  .firstSection .leftSection {
    max-width: 100%;
    text-align: center;
  }

  .secondSection {
    max-width: 90vw;
  }
}

@media screen and (min-width: 430px) and (max-width: 654px) {
  .firstSection .profession {
    font-size: 1.9rem;
  }

  .sub-section h1,
  .interest h1,
  .language h1 {
    font-size: 1.6rem;
    margin-bottom: 1.2rem;
  }

  .soft-skills,
  .language div,
  .interest li,
  .education,
  #contact div,
  .skill-box {
    font-size: 1.2rem;
  }

  .sub-section {
    font-size: 1.1rem;
  }

  .firstSection {
    padding: 50px 35px 30px 35px;
  }

  .container {
    display: inline-block;
  }

  main hr {
    margin: 30px 15px 30px 15px;
  }

  .list-box,
  #contact div,
  .sub-section .intro,
  h3,
  .language div,
  .interest li {
    margin-left: 1.4rem;
  }

  .firstSection .leftSection {
    font-size: 1.5rem;
    line-height: 35px;
  }

  .adminName {
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 654px) {
  .right .list-box {
    display: none;
  }

  /* nav .right ul li {
    margin-right: 1.1rem;
    font-size: 1.1rem;
  } */

  .personal-interest,
  .sub-section {
    margin-bottom: 2.2rem;
  }

  .firstSection .rightSection img {
    box-shadow: -3px 0px rgb(165, 179, 245);
  }

  .skill-box {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  nav .left {
    width: 35%;
  }

  .skill-box .level,
  #framework div:last-child {
    text-align: center;
    width: 100%;
  }

  .personal-interest {
    width: 100%;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 430px) {
  .firstSection .profession {
    font-size: 1.3rem;
  }

  .sub-section h1,
  .interest h1,
  .language h1 {
    font-size: 1.1rem;
    margin-bottom: 0.8rem;
  }

  .soft-skills,
  .language div,
  .interest li,
  .education,
  #contact div,
  .skill-box {
    font-size: 0.97rem;
  }

  .sub-section {
    font-size: 0.97rem;
  }

  nav .left {
    font-size: 1.1rem;
    width: 70%;
  }

  .firstSection {
    padding: 40px 15px 25px 15px;
  }

  .container {
    display: inline-block;
  }

  main hr {
    margin: 20px 8px 20px 8px;
  }

  .list-box,
  #contact div,
  .sub-section .intro,
  h3,
  .language div,
  .interest li {
    margin-left: 0.8rem;
  }

  .firstSection .leftSection {
    font-size: 1.1rem;
    line-height: 30px;
  }

  .secondSection {
    max-width: 95vw;
    margin-bottom: 30px;
  }

  .adminName {
    font-size: 1.5rem;
  }

  .contact-box {
    align-items: flex-start;
    text-align: left;
    gap: 3px;
  }

  .sub-section .intro {
    line-height: 25px;
  }

  .personal-interest {
    flex-direction: column;
    gap: 20px;
  }

  .bar1,
  .bar2,
  .bar3 {
    height: 3px;
  }

  .soft-skills li {
    margin-left: 0.8rem;
  }

  .contact-box span {
    width: 95%;
    word-wrap: break-word;
  }

  .center {
    font-size: 0.7rem;
  }
}
